body{
  background-image: linear-gradient(skyblue,white,transparent);
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
 
 
}
h1 {
  text-align: center;
  
  /* color: cornflowerblue; */
  text-shadow: rgb(224, 10, 10) 3px 3px 3px;
  font-style: italic;
  
}
p {
  text-align: center;
  font-size: larger;
}
.btn1:hover {
  background-color: cornflowerblue;

  }
.btn {
  text-align: center;
  
 
}
.btn1 {
  border: 2px solid black;
  border-radius: 15px;
  /* background-color: lightseagreen; */
  background-color: yellow;
  cursor: pointer;
  width: 200px;
  font-size: larger;
  box-shadow: blue 2px 2px 2px;

}

  .click {
       background-color: red; 
      border: 2px solid black;
      border-radius: 15px;
      cursor: pointer;
      width: 200px;
      font-size: larger;
      box-shadow: blue 2px 2px 2px;
  }
  .purebtn {
    width: 100px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    width: 230px;
    font-size: larger;
    box-shadow: blue 2px 2px 2px;
    
  }
  .purebtn:hover {
    background-color: yellow;
  }